<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-[#F9F9F9] dark:bg-gray-800">
    <div class="brand flex content-center">
      <img src="./../../../assets/img/logo-THM-PNG.png" class="w-10" alt="" />
      <p class="ms-2 mt-4 font-bold">THM Reporting</p>
    </div>
    <div class="fotoProfil my-10">
      <img src="./../../../assets/img/profil-kosong.png" class="w-52" alt="" />
    </div>
    <ul class="space-y-2 mt-10 font-medium">
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-user"></i>
          <span class="ms-3">Profil</span>
        </a>
      </li>
      <li></li>
      <li>
        <a
          routerLink=""
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-list-check"></i>
          <span class="ms-3">Laporan Lembur</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-clipboard-list"></i>
          <span class="ms-3">Laporan Absensi</span>
        </a>
      </li>
      <li>
        <a
          (click)="logout()"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="ms-3">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64">
  <router-outlet></router-outlet>
</div>
