<div class="container p-10">
  <div class="header flex justify-between">
    <span class="p-2 text-secondary font-bold uppercase text-2xl"
      >Pelaporan Lembur</span
    >

    <div class="pb-4 bg-white dark:bg-gray-900">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div
          class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="text"
          id="table-search"
          class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search for report"
        />
      </div>
    </div>
  </div>

  <button
    *ngIf="userLogin?.role_id === 3"
    (click)="toogleModal(1, null)"
    class="mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Add Pelaporan
  </button>

  <div
    class="relative mt-5 overflow-x-auto shadow-md shadow-secondary sm:rounded-lg"
  >
    <table
      class="w-full border-2 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th class="px-6 py-3 font-bold">No</th>
          <th class="px-6 py-3 font-bold">Tanggal</th>
          <th class="px-6 py-3 font-bold">Waktu (JAM)</th>
          <th class="px-6 py-3 font-bold">Nama Klien</th>
          <th class="px-6 py-3 font-bold">Bukti</th>
          <th class="px-6 py-3 font-bold">Approval</th>
          <th class="px-6 py-3 font-bold">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let report of displayReports; let i = index">
          <tr
            class="bg-white border-4 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ (currentPage - 1) * pageSize + i + 1 }}
            </th>
            <td class="px-6 py-4">{{ report.date | date }}</td>
            <td class="px-6 py-4">{{ report.duration }}</td>
            <td class="px-6 py-4">{{ report.client_name }}</td>
            <td class="px-6 py-4">
              <a href="{{ fileUrl }}/file/{{ report?.file_bukti }}">Bukti</a>
            </td>
            <td class="px-6 py-4">
              <span *ngIf="report.approval_id === 1" class="text-primary">{{
                report.approval_desc
              }}</span>
              <span *ngIf="report.approval_id === 2" class="text-red-600">{{
                report.approval_desc
              }}</span>
              <span *ngIf="report.approval_id === null" class=""
                >Waiting ...</span
              >
            </td>
            <td class="px-6 py-4 text-center">
              <div *ngIf="userLogin?.role_id === 1">
                <a
                  (click)="toggleApproval(1, report)"
                  class="font-medium text-green-500 dark:text-green-500 hover:underline"
                  ><i class="fa-solid fa-check-to-slot"></i
                ></a>
              </div>
              <div *ngIf="userLogin?.role_id === 3">
                <a
                  (click)="toogleModal(2, report)"
                  class="font-medium text-green-500 dark:text-green-500 hover:underline"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
                <a
                  (click)="toogleModal(3, report)"
                  class="ms-5 font-medium text-red-500 dark:text-red-500 hover:underline"
                  ><i class="fa-solid fa-trash"></i
                ></a>
              </div>
            </td></tr
        ></ng-container>
      </tbody>
    </table>
    <div class="flex justify-between mt-5 p-5">
      <div class="info-pagination">
        Showing {{ getStartIndex() }} - {{ getEndIndex() }} entries
        {{ entires }}
      </div>
      <div class="btn-pagination flex">
        <!-- Previous Button -->
        <button
          [disabled]="currentPage === 1"
          (click)="prevPage()"
          class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Previous
        </button>

        <!-- Next Button -->
        <button
          [disabled]="currentPage === totalPages"
          (click)="nextPage()"
          class="flex items-center justify-center px-3 h-8 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Main modal -->
<div
  id="filterExport-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden absolute flex w-full h-full justify-center items-center top-0 left-0 backdrop-blur-sm backdrop-brightness-75 shadow-md"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Filter Date for Export
        </h3>
        <button
          (click)="toogleModalExport()"
          type="button"
          class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="authentication-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <form (ngSubmit)="onSubmit()" class="space-y-4">
          <div>
            <label
              for="date"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Date</label
            >
            <input
              type="month"
              name="month"
              id="month"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              [(ngModel)]="filterDate"
              required
            />
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Detail Export
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-modal-approval
  id="modal-approval"
  class="absolute hidden overflow-y-auto overflow-x-hidden flex w-full h-full justify-center items-center top-0 left-0 backdrop-blur-sm backdrop-brightness-75 shadow-md"
  [dataReceived]="dataReceived"
  (closeModalEvent)="toggleApproval(0, null)"
></app-modal-approval>
<app-modal-lembur
  id="modal-report"
  class="absolute hidden overflow-y-auto overflow-x-hidden flex w-full h-full justify-center items-center top-0 left-0 backdrop-blur-sm backdrop-brightness-75 shadow-md"
  [dataReceived]="dataReceived"
  (closeModalEvent)="toogleModal(0, null)"
></app-modal-lembur>
